body {
  transition: background .3s ease-in-out;
}

.firstSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body button {
  cursor: pointer;
  padding: 10px 15px;
  color: #fff;
  background: #0c3595;
  border: none;
  border-radius: 6px;
  transition: all .3s ease-in-out;
}

body button:hover {
  background: #4a6bb7;
}